@import 'variable';

.text-black{
  color: $second-text-color;
}

.text-bold{
  font-weight: bold;
}

.main-button{
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  background: $button-primary-bg-color;
  color: $button-primary-color;
  &:hover, &:focus{
    opacity: 0.9;
    outline: none;
  }
}
.main-button.disabled{
  opacity: 0.3;
}

.margin-vertical_large{
  margin: 30px 0;
}
.margin-top_small{
  margin-top: 10px;
}