@import 'variable';

.item-list{

}

.item-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 5px 20px 5px 0;
}

.item-row-content{
  width: 100%;
  padding: 0 20px;
}