@import 'variable';
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.search {
  position: relative;
  input { text-indent: 20px; }
  .search-box{
    border: 2px solid $dashed-border-color;
    border-radius: 3px;
    padding: 10px 5px;
    width: 80%;
    font-size: 25px;
    &:focus{
      border: 2px solid $input-border-color;
      outline: none;
    }
  }
  .fa-times-circle {
    //position: absolute;
    //top: 24px;
    //right: 20px;
    cursor: pointer;
    margin-left: -40px;
    font-size: 25px;
    color: grey;
  }
}

