@import 'variable';
.selected-item-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.selected-item{
  margin-right: 20px;
  .fa-times-circle {
    position: absolute;
    color: rgb(227, 52, 89);
    margin-left: 85px;
    margin-top: -10px;
    //top: 24px;
    //right: 0px;
    cursor: pointer;
    font-size: 25px;
  }
}
.selected-item-name{
  width: 100px;
  word-wrap: break-word;
  text-align: center;
}