$main-color: #27aedb;
$main-text-color: #9aa6af;
$second-text-color: black;
$button-primary-bg-color: #19ae9f;
$button-primary-color: white;
$input-border-color: #6559f5;
$dashed-border-color: #c3cfd8;
